.profileContainer {
    max-width: 600px;
    /* margin: 0 auto; */
    margin-top: 200px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profileImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.profileName {
    font-size: 2em;
    margin: 10px 0;
    text-align: center;
}

.profileSpecialty,
.profileRCP,
.profileRating,
.profileApproach,
.profileBio {
    margin: 10px 0;
}

.profileRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars {
    font-size: 1.5em;
    color: gold;
}

.profileServices {
    margin-top: 20px;
}

.profileServices h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.profileServices ul {
    list-style: none;
    padding: 0;
}

.profileServices li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}